backcall==0.2.0
cffi==1.14.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.0
joblib==0.15.1
kiwisolver==1.2.0
lxml==4.5.1
matplotlib==3.2.1
numpy==1.19.0rc2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.8.1
pycparser==2.20
Pygments==2.6.1
pyparsing==3.0.0a1
pyshark==0.4.2.11
python-dateutil==2.8.1
PyX==0.15
scapy==2.4.3
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
threadpoolctl==2.1.0
traitlets==4.3.3
wcwidth==0.2.4